
/* Rabar 21 font for Headers */
@font-face {
  font-family: rabar21;
  src: url(../public/fonts/Rabar_021.ttf);
}

/* Rabar 22 font  */
@font-face {
  font-family: rabar22;
  src: url(../public/fonts/Rabar_022.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, rabar21,   Roboto, Segoe UI, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #2d2d25;
  color: #eef5db;

 
}
p {
  direction: rtl;
  font-family: rabar22;
}

* {
  box-sizing: border-box;
  direction: rtl;
}

a {
  
  color: #f45e23;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  
}

img {
  max-width: 100%;
  display: block;
}